<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:int-http="http://www.springframework.org/schema/integration/http"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/integration
       http://www.springframework.org/schema/integration/spring-integration.xsd
       http://www.springframework.org/schema/integration/http
    https://www.springframework.org/schema/integration/http/spring-integration-http.xsd">

    <int:channel id="outputExternalChannel"/>

    <!-- Define the transformer -->
    <int:transformer input-channel="inputExternalChannel"
                     output-channel="transformedChannel"
                     ref="transformer"
                     method="transformToSecondCall" />

    <int-http:outbound-gateway request-channel="transformedChannel"
                               reply-channel="outputExternalChannel"
                               id="outboundExternalGateway"
                               url="https://www.google.com/search?q={message}"
                               http-method="GET"
                               charset="UTF-8"
                               expected-response-type="java.lang.String"
                               mapped-request-headers="*"
                               mapped-response-headers="*">
        <int-http:uri-variable name="message" expression="payload"/>
    </int-http:outbound-gateway>

</beans>